/* Futuramente todo o código deve ir pro core do Admin LTE */
/*

1) GERAL
1.1) LOGIN
1.2) SIDEBAR

2) GERENCIAR USUARIOS
2.1) CRIAR USUARIO

3) GERENCIAR PROJETOS

*/
/* 1) GERAL */
.box-body {
  padding: 20px;
}
.box-body.no-padding {
  margin: 10px auto;
  float: left;
  background-color: white;
  width: 100%;
}
.box-body form .checkbox {
  float: left;
  width: 100%;
  margin-top: 0;
  padding: 6px 12px;
  border: 1px solid #d2d6de;
}
.box-body form .checkbox div {
  padding: 0;
}
.box-body form .checkbox label {
  float: left;
  width: 100%;
  display: block;
}
.box-body table thead {
  background-color: #efefef;
  border-top: 1px solid #d4d4d4;
}
.box-body table thead th {
  border-color: #d4d4d4;
}
.box-body table i[title="Diagramação"],
.box-body table i[title="Ilustração"],
.box-body table i[title="Vídeo"],
.box-body table i[title="Web"] {
  margin: 0 2px;
}
.user-menu .user-header a {
  color: white;
}
.user-menu .user-header a:hover {
  text-decoration: underline;
}
.user-menu .user-footer {
  background-color: #383838 !important;
  background-image: url("../assets/theme/img/grid-pattern.png");
  background-repeat: repeat;
}
.user-menu .user-footer .btn {
  border-radius: 4px;
}
/* 1.1) LOGIN */
.login-box-body .col-md-12 {
  margin: 5px 0;
}
/* 1.2) SIDEBAR */
.sidebar-menu {
  margin: 10px 0px;
}
.box-horario {
  color: #fff;
  background-color: #333;
  border-radius: 0;
  border-top: 5px solid #333;
  overflow: hidden;
}
.relogio-ico {
  color: rgba(255, 255, 255, 0.1);
  width: 120px;
  height: 120px;
  font-size: 120px;
  line-height: 120px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.total-hora {
  height: 60px!important;
}
.total-hora p {
  margin-bottom: 5px!important;
  font-size: 13px!important;
}
.total-hora h4 {
  margin: 5px 0 0 0!important;
  font-size: 20px!important;
}
/* 2) GERENCIAR USUARIOS */
button[form="desativarUsuario"].btn-warning:before {
  content: 'Desativar';
}
button[form="desativarUsuario"].btn-primary:before {
  content: 'Ativar';
}
/* 2.1) CRIAR USUARIO */
.form-group.horarioUsuario .input-group {
  margin-bottom: 10px;
}
.form-group.horarioUsuario .input-group .input-group-addon {
  width: 50px;
}
/* 3) GERENCIAR PROJETOS */
.box-header .acoes {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
.box-header .acoes.form-group {
  margin-bottom: 0px;
}
.box-header .acoes .rotulo {
  display: inline-block;
  margin-right: 5px;
}
.box-header .acoes select {
  display: inline-block;
  width: auto;
}
.icone {
  width: 40px;
  text-align: center;
}
.icone a:active,
.icone a:focus {
  color: #3c8dbc;
}
.listaProjetos td[title="Artes"] {
  background-color: #c94259;
  color: #FFF;
}
.listaProjetos td[title="Artes"]:before {
  content: "Art";
}
.listaProjetos td[title="Química"] {
  background-color: #55ccdd;
  color: #000;
}
.listaProjetos td[title="Química"]:before {
  content: "Qui";
}
.listaProjetos td[title="Biologia"] {
  background-color: #eecc77;
  color: #000;
}
.listaProjetos td[title="Biologia"]:before {
  content: "Bio";
}
.listaProjetos td[title="Matemática"] {
  background-color: #009977;
  color: #FFF;
}
.listaProjetos td[title="Matemática"]:before {
  content: "Mat";
}
.listaProjetos .box-curso {
  width: 60px;
  text-align: center;
}
.listaProjetos .box-curso.edfisica {
  background-color: #d4d0b3;
  color: #000;
}
.listaProjetos .box-curso.contabeis {
  background-color: #ff9966;
  color: #000;
}
.listaProjetos .box-curso.fisica {
  background-color: #116554;
  color: #fff;
}
.listaProjetos .box-curso.edcampo {
  background-color: #060;
  color: #FFF;
}
.listaProjetos .box-curso.dirhumanos {
  background-color: #663;
  color: #FFF;
}
.listaProjetos .box-curso.pedagogia {
  background-color: #505e93;
  color: #fff;
}
.listaProjetos .box-curso.historia {
  background-color: #016075;
  color: #fff;
}
.listaProjetos .box-curso.filosofia {
  background-color: #9fd18b;
  color: #000;
}
.listaProjetos .box-curso.dimensoes {
  background-color: #fabfb7;
  color: #000;
}
.listaProjetos .box-curso.mais-educacao {
  background-color: #147fad;
  color: #FFF;
}
.listaProjetos .box-curso.outro {
  background-color: #aaa;
  color: #000;
}
.listaProjetos .box-curso.interno {
  background-color: #555;
  color: #FFF;
}
