/* Futuramente todo o código deve ir pro core do Admin LTE */

/* SIDEBAR */

.box-horario {
    color: #fff;
    background-color: #333;
    border-radius: 0;
    border-top: 5px solid #333;
    overflow: hidden;
}

.relogio-ico{
    color: rgba(255,255,255,0.1);
    width: 120px;
    height: 120px;
    font-size: 120px;
    line-height: 120px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.total-hora{
    height: 60px!important;

    p {
        margin-bottom: 5px!important;
        font-size: 13px!important;
    }

    h4 {
        margin: 5px 0 0 0!important;
        font-size: 20px!important;
    }
}


/* GERENCIAR PROJETOS */

.box-header {
    
    .acoes {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
    }
}